html {
    background-color: #EDF4F7;
    font-family: Helvetica, sans-serif;
    color: #0c171c;
}

h1 {
    font-size: 28px;
    text-align: center;
}

.hero-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 13%;
    border-radius: 10%;
}

h2 {
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    font-size: 18px;
}

div.container {
    text-align: center;
}

ul.myUL {
    display: inline-block;
    text-align: left;
}

a {
    color: #467fa0;
}

p {
    text-align: center;
}

.a_center {
    text-align: center;
}

.recipe-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ingredients-box {
    background-color: #cadde8;
    padding: 20px;
    border-radius: 13%;
    margin-bottom: 20px;
}

.preparation-box {
    background-color: #cadde8;
    padding: 20px;
    border-radius: 13%;
    margin-bottom: 20px;
}